{% extends 'base.html' %} {% load static %} 

{% block styles %} {{ block.super }}

<link
  rel="preload"
  as="style"
  href="{% static 'css/about_styles.css' %}"
  onload="this.rel = 'stylesheet'" />
{% endblock %} 

{% block content %} 
<section>
  <div class="container about-container">
      <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 description-col">
              <h1 class="about-heading">About Us</h3>
              
              <div class="about-description">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis fugiat, mollitia saepe dolorem minus doloribus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, quis.</p>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis fugiat, mollitia saepe dolorem minus doloribus?</p>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis fugiat, mollitia saepe dolorem minus doloribus?</p>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis fugiat, mollitia saepe dolorem minus doloribus?</p>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis fugiat, mollitia saepe dolorem minus doloribus?</p>

              </div>
                  

          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 img-col">
            <img src="{% static 'img/about_img.jpg' %}" class="img-fluid" alt="Picture of a pharmacy">
          </div>
      </div>
  </div>
</section>

{% endblock %}
