{% extends 'base.html' %} {% load static %} 
{% block styles %} 
{{block.super}}
<link
  rel="preload"
  as="style"
  href="{% static 'css/product_styles.css' %}"
  onload="this.rel = 'stylesheet'" />
{% endblock %} 

{% block content %}

<div class="container-fluid">
  <div class="row">
    {% if products %} 
    {% for item in products %}
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card product-card">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">{{item.name}}</p>
          <p>{{item.price}}</p>
        </div>
      </div>
    </div>

    {% endfor %} 
    {% else %}

    <p>No items to show.</p>

    {% endif %}
  </div>
</div>
{% endblock %}
